<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <script src="remark.min.js"></script>
  <script src="mermaid.min.js"></script>
  <link rel="stylesheet" href="mermaid.css">
  <link rel="stylesheet" href="custom.css">
  <script>
    function create() {
      slideshow = remark.create({
        {{{source}}},
        ratio: '16:9',
        highlightLines: true,
        countIncrementalSlides: false,
        highlightStyle: 'github'
      });

      mermaid.initialize({
        startOnLoad: false,
        cloneCssStyles: false,
        flowchart:{
          htmlLabels: false
        }
      });
      function initMermaid(s) {
        var diagrams = document.querySelectorAll('.mermaid');
        diagrams.forEach(function (diagram) {
          if (diagram.offsetWidth > 0) {
            mermaid.init(undefined, diagram);
          }
        })
      }
      slideshow.on('afterShowSlide', initMermaid);
      initMermaid(slideshow.getSlides()[slideshow.getCurrentSlideIndex()]);
    }
  </script>
</head>
<body onload="create()">
</body>
</html>
